:root {
    --spacing: 10px;
    --blur: 10px;
    --base: #23d783;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(38, 38, 66);
    color: rgb(242, 245, 245);
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: lightblue;
}

a:active {
    color: lightblue;
}

label {
    font-size: 18px;
}

img {
    max-width: 360px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    -webkit-filter: blur(var(--blur));
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.highlight {
    color: var(--base);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}
