html {
  font-family: "Courier New", Courier, monospace;
}

.panels {
  display: flex;
  flex-direction: row;
  height: 600px;

  font-weight: bold;
  font-size: 28px;

  color: white;
}

.panel {
  flex: 1;
  background-size: 200% auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;

  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

  p {
    margin: 400px 20px;
    padding: 5px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.active {
  flex: 2;

  p {
    margin: 30px 20px;
  }

  p:nth-child(even) {
    border-radius: 10px;
    background-color: white;
    color: black;
  }
}

#panel1 {
  background-image: url(images/viktoriya-orhG5tkTAWU-unsplash.jpg);
}

#panel2 {
  background-image: url(images/annie-spratt-HZuJfZlXVQY-unsplash.jpg);
}

#panel3 {
  background-image: url(images/sebastien-gabriel--IMlv9Jlb24-unsplash.jpg);
}

#panel4 {
  background-image: url(images/frederik-holmgren-6fidxJQO9t4-unsplash.jpg);
}

#panel5 {
  background-image: url(images/sawyer-bengtson-umRPY9w3q1c-unsplash.jpg);
}
