html {
  font-family: "Courier New", Courier, monospace;
}

.panels {
  display: flex;
  flex-direction: row;
  height: 600px;

  font-weight: bold;
  font-size: 28px;

  color: white;
}

.panel {
  width: 20%;
  background-size: 200% auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
  width: 35%;
}

#panel1 {
  background-image: url(images/viktoriya-orhG5tkTAWU-unsplash.jpg);
}

#panel2 {
  background-image: url(images/annie-spratt-HZuJfZlXVQY-unsplash.jpg);
}

#panel3 {
  background-image: url(images/sebastien-gabriel--IMlv9Jlb24-unsplash.jpg);
}

#panel4 {
  background-image: url(images/frederik-holmgren-6fidxJQO9t4-unsplash.jpg);
}

#panel5 {
  background-image: url(images/sawyer-bengtson-umRPY9w3q1c-unsplash.jpg);
}
